# Classification - Mini-Project 2

***Edit this cell with your name(s), tutorial number(s) and ID(s)***

---

Name:

ID:

Tutorial:

---

Name:

ID:

Tutorial:

---

## Dataset Description

The following dataset includes information about loan applicants, including factors such as income, credit score, employment status, loan details, and other indicators of financial stability, along with the final decision showing whether each loan was approved or not.

| Column | Description|
|-|-|
|ApplicationNumber|Unique identifier assigned to each loan application|
|Age|Applicant’s age in years|
|AnnualIncome|Applicant’s yearly income|
|CreditScore|A score representing the applicant’s creditworthiness|
|EmploymentStatus|Applicant’s current employment situation (Employed, Unemployed, Self-Employed)|
|EducationLevel|Highest educational qualification attained (Highschool, Bachelor, Master, Doctorate, Diploma)|
|LoanAmount|Total amount of money requested for the loan|
|LoanDuration|Duration of the loan in months|
|MaritalStatus|Applicant’s marital state (Divorced, Married, Single, Widowed)|
|NumberOfDependents|Number of individuals financially dependent on the applicant|
|HomeOwnershipStatus|Applicant’s housing status (Mortagage, Own, Rent, Other)|
|BankruptcyHistory|Indicates whether the applicant has previously declared bankruptcy (0 = No, 1 = Yes)|
|LoanPurpose|The primary reason for taking the loan (Debt Consolidation, Home Improvement, Education, Personal)|
|PreviousLoanDefaults|Indicates if the applicant has defaulted on any previous loans (0 = No, 1 = Yes)|
|MonthlyLoanPayment|Amount the applicant would need to pay monthly to repay the loan|
|MonthlyIncome|Average monthly income of the applicant|
|JobTenure|Number of years the applicant has been in their current job|
|LoanApproved|Indicates loan approval status (No = Not Approved, Yes = Approved)|

## Importing Libraries & Dataset

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
#plt.style.use("seaborn")

df = pd.read_csv('https://raw.githubusercontent.com/GUC-DM/W2025/refs/heads/main/data/loan_data.csv')
df.head()

## Data Inspection

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ApplicationNumber     20000 non-null  int64
 1   Age                   20000 non-null  int64
 2   AnnualIncome          20000 non-null  float64
 3   CreditScore           20000 non-null  int64
 4   EmploymentStatus      16260 non-null  object
 5   EducationLevel        20000 non-null  object
 6   LoanAmount            20000 non-null  float64
 7   LoanDuration          20000 non-null  int64
 8   MaritalStatus         20000 non-null  object
 9   NumberOfDependents    20000 non-null  int64
 10  HomeOwnershipStatus   20000 non-null  object
 11  BankruptcyHistory     20000 non-null  int64
 12  LoanPurpose           20000 non-null  object
 13  PreviousLoanDefaults  20000 non-null  int64
 14  MonthlyLoanPayment    15660 non-null  float64
 15  MonthlyIncome         17160 non-null  float64
 16  JobTenure             20000 non-null  int64
 17  LoanApproved          20000 non-null  object
dtypes: float64(4), int64(8), object(6)
memory usage: 2.7+ MB

DataFrame Description (Numerical Columns):

Null Values per Column:

ApplicationNumber          0
Age                        0
AnnualIncome               0
CreditScore                0
EmploymentStatus        3740
EducationLevel             0
LoanAmount                 0
LoanDuration               0
MaritalStatus              0
NumberOfDependents         0
HomeOwnershipStatus        0
BankruptcyHistory          0
LoanPurpose                0
PreviousLoanDefaults       0
MonthlyLoanPayment      4340
MonthlyIncome           2840
JobTenure                  0
LoanApproved               0
dtype: int64

## Data Cleaning

In [7]:
for col in ['MonthlyLoanPayment', 'MonthlyIncome']:
    df[col].fillna(df[col].median(), inplace=True)

df['EmploymentStatus'].fillna(df['EmploymentStatus'].mode()[0], inplace=True)

df['LoanApproved'] = df['LoanApproved'].map({'Yes': 1, 'No': 0})

print("Missing values after cleaning:")
print(df.isnull().sum())
print("\nFirst 5 rows after cleaning:\n")
print(df.head())

Missing values after cleaning:
ApplicationNumber        0
Age                      0
AnnualIncome             0
CreditScore              0
EmploymentStatus         0
EducationLevel           0
LoanAmount               0
LoanDuration             0
MaritalStatus            0
NumberOfDependents       0
HomeOwnershipStatus      0
BankruptcyHistory        0
LoanPurpose              0
PreviousLoanDefaults     0
MonthlyLoanPayment       0
MonthlyIncome            0
JobTenure                0
LoanApproved            70
dtype: int64

First 5 rows after cleaning:

   ApplicationNumber  Age  AnnualIncome  CreditScore EmploymentStatus  \
0              26231   18       26992.0          586         Employed
1              13176   18       22825.0          581    Self-Employed
2              27751   18       75891.0          522         Employed
3              20628   18       92094.0          565         Employed
4              28773   18       35686.0          554         Employed

  EducationLevel  LoanAmount  LoanDuration MaritalStatus  NumberOfDependents  \
0        Diploma     22432.0            36        Single                   3
1         Master     30457.0            24        Single                   0
2       Bachelor     30583.0            96       Married                   2
3       Bachelor     72738.0            36        Single                   1
4        Diploma     28021.0            36       Married                   3

  HomeOwnershipStatus  BankruptcyHistory         LoanPurpose  \
0            Mortgage                  0  Debt Consolidation
1                Rent                  0    Home Improvement
2            Mortgage                  0            Personal
3            Mortgage                  0             Vehicle
4                Rent                  0    Home Improvement

   PreviousLoanDefaults  MonthlyLoanPayment  MonthlyIncome  JobTenure  \
0                     0             623.110        2249.33          3
1                     0            1269.040        1902.08          5
2                     0             318.570        6324.25          6
3                     0             439.185        7674.50          3
4                     0             778.360        2973.83          1

   LoanApproved
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0

/tmp/ipython-input-4066090991.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
/tmp/ipython-input-4066090991.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['EmploymentStatus'].fillna(df['EmploymentStatus'].mode()[0], inplace=True)

## Exploratory Data Analysis

**Q1: On average, which type of educational level has the highest approval rate? Show their order on the graph.**

**Visualization**

**Answer for Q1**: Your answer here

**Q2: How does the annual income vary among approved applicants? Interpret the values of the 3 quartiles.**

**Visualization**

**Answer for Q2**: Your answer here

**Q3: How does the age of an applicant affect their credit score? (Hint: Use the line of best fit.)**

**Visualization**

**Answer for Q3**: Your answer here

**Q4: Is the distribution of applicants' income per month normal or skewed?**

**Visualization**

**Answer for Q4**: Your answer here

## Data Preparation for Modelling

## Modelling

## Evaluation

## Bonus (Optional)